.App {
  background-color: #1B3A54;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  padding-bottom: 50px;
  justify-content: center;
}
.border {
  display: flex;
  flex-direction: column;
  border-width: 16px;
  border-color: #fff;
  border-style: solid;
  border-radius: 28px;
  margin: 50px;
  padding-left: 20px;
  padding-bottom: 20px;
  height: 75%;
  justify-content: center;
}
@media screen and (max-height : 400px)  {
  .border {
    height: 60%;
    padding-top: 10px;
    margin: 40px;
  }
}
.home-text {
  text-align: left;
  font-size: 150px;
  color: #fff;
  font-family: 'Hoefler';
  letter-spacing: -4.5px;
  font-weight: 800;
}
@media screen and (max-width: 1100px) {
  .home-text {
    font-size: 100px;
  }
}
@media screen and (max-width: 800px) {
  .home-text {
    font-size: 80px;
    letter-spacing: -0.5px;
  }
}
@media screen and (max-width: 415px) {
  .home-text {
    font-size: 50px;
    letter-spacing: -0.5px;
  }
}
@media screen and (min-width : 300px) and (max-width : 360px)  {
  .home-text {
    font-size: 35px;
    letter-spacing: -0.5px;
  }
}
@media screen and (min-height : 200px) and (max-height : 400px)  {
  .home-text {
    font-size: 55px;
    letter-spacing: -0.5px;
  }
}
.top {
  margin-top: 0px;
  margin-bottom: 100px;
}
.bottom {
  margin-bottom: 0px;
  margin-top: 100px;
}
.menu {
  justify-content: center;
  align-items: center;
}
.menu-text {
  text-align: center;
  color: white;
  text-decoration: none;
  font-weight: bold;
  width: 100px;
}
.menu-wrap {
  display: flex;
  flex-direction: column;
  padding: 50px;
  background-color: #F3F2EE;
}
@media screen and (min-width : 300px) and (max-width : 500px) {
  .menu-wrap {
    height: 100%;
  }
}
.menu-back {
  background-color: transparent;
  border-color: transparent;
  align-self: flex-start;
  text-decoration: none;
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  margin: 0px;
}
.back-arrow {
  height: 20px;
  width: 20px;
  margin-right: 10px;
}
.back-text {
  font-size: 20px;
  color: #000;
}
.menu-container {
  margin-top: 20px;
}
.menu-header {
  color: #3146A5;
  font-weight: bold;
  font-size: 20px;
  margin: 0px;
}
.menu-item {
  display: flex;
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: #0F2482;
}
.menu-link {
  color: #3146A5;
  font-weight: bold;
}
.menu-description {
  width: 75%;
}
.menu-spacing {
  margin-left: 5px;
  margin-right: 5px;
  color: #3146A5;
  font-weight: bold;
}
